.header {
    grid-area: h;
    background: linear-gradient(to bottom, grey, darkgrey);
    padding: 7px;
    border-radius: 10px;
    height: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.cart {
    float: right;
    padding: 8px 5px;
}

.nav {
    color: #00d5be;
}

.logo {
    color: white;
    font-size: 30px;
    padding-left: 15px;
    float: left;
}

.admin {
    color: white;
    padding-left: 15px;
    float: left;
    margin-top: 10px;
}



